body {
    background-color: aliceblue;
    background: linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,.5)),  url(image/time_clocks.jpg) no-repeat center center fixed;
    background-size: cover;
}

main {
    /* margin-top: 15px; */
    padding: 10px 5%;
    font-size: 1.5rem;
    background-color: rgba(61, 61, 61, 0.2);
    font-family: 'Lato', sans-serif;
    max-width: 750px;
    margin: 15px auto ;
}

#form-newEvent label, #form-newEvent input, #form-newEvent button{
    display: block;
    margin: 8px auto;
    font-size: 1.2rem;
}

#form-newEvent label {
    max-width: 249px;
    margin-top: 25px;
}

#dateInput {
    width: 249px;
    cursor: pointer;
}

#form-newEvent #submit-btn {
    margin-top: 25px;
    padding: 5px 20px;
    border-radius: 10px;
    border: 0px;
    background-color: rgb(240, 240, 240);
    cursor: pointer;
}

#form-newEvent #submit-btn:hover {
    background-color: rgb(182, 182, 182);
}


.description {
    grid-area: event;
    text-align: center;
}

.dateEvent {
    margin-top: 15px;
}

.titleEvent{
    margin: 15px;
    font-weight: bold;
}

.btn-delete { 
    grid-area: button; 
    background-color: rgb(255, 97, 97);
    cursor: pointer;
    border-radius: 10px;
    border: 0;
    max-width: 70px;
    margin: auto 0;
    padding-block: 15px;
}

.btn-delete:hover {
    background-color: red;
}

.restTime { 
    grid-area: counter; 
    margin: 0 auto;
    place-self: center;
}

#events > div {
    display: grid;
    grid-template-areas:
        'event counter counter button';
    gap: 10px;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.664);
    border-top: 1px solid rgba(0, 0, 0, 0.253);
}

@media screen and (max-width: 750px) {
    #events > div {
        grid-template-areas:
            'counter counter counter counter'
            'event event event button';
    }
}

.restTime > div  {
    display: flex;
}

.restTime > div > div {
    padding: 15px 6px;
    margin: 0 5px;
    text-align: center;
    background-color: rgba(128, 128, 128, 0.24);
    border-radius: 10px;
}

.label-txt {
    font-size: 1rem;
}